@{
    ViewData["Title"] = "Share Files - Download";
}

<main id="main" class="b-download-data-main">
    <div class="b-load-data">
        <div class="container">
            <div class="b-title">
                <h1 class="title title_small title_dark">
                    Just paste Your Load-Token
                </h1>
            </div>
            <div class="b-paste-token">
                <input type="text" class="textbox textbox_dark paste-token-textbox">
                <a href="#" class="btn btn_dark btn_static text_small paste-token-btn">Paste</a>
            </div>
            <div>
                <fieldset class="group-box group-box_dark group-box_top">
                    <legend>Archive Info</legend>

                </fieldset>
            </div>
        </div>
    </div>
</main>

<script src="/JQuery/jquery-3.6.0.min.js"></script>
<script src="/JS/download-data-script.js"></script>