@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
    --white-color: #fff;
    --base-white-color: #fff;

    --large-font-size: 42px;
    --middle-font-size: 38px;
    --small-font-size: 20px;
    --default-font-size: 18px;

    --btn-animate-transition: 0.5s;
}
* {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: var(--base-white-color);
}
body {
    background: var(--main-bg-color);
}
.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 50px 10%;
}

img {
    width: 100%;
}
hr {
    background: var(--white-color);
    height: 1px;
    margin: 2px 0px;
}
.title {
    font-weight: 700;
    font-size: var(--large-font-size);
}
.title_light {
    color: var(--white-color);
}
.title_small {
    font-weight: 400;
    font-size: var(--small-font-size);
}
.subtitle {
    font-weight: 400;
    font-size: var(--middle-font-size) - 30px;
}
.subtitle_light {
    color: var(--white-color);
}
.text {
    font-size: var(--default-font-size);
}
.decoration-line {
    height: 1px;
    background-color: black;
    width: 20px;
}
.decoration-line_light {
    background-color: var(--white-color);
}
.btn {
    backdrop-filter: blur(2px);
    /* display: flex;
    align-items: ; */
    line-height: 40px;
    border: 1px rgba(128, 128, 128, 0.459) solid;
    border-radius: 2px;
    padding: 2px 5px;
    margin: 5px;
    transition: var(--btn-animate-transition);
    text-shadow: 1px 1px 2px black;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.055), 0 17px 50px 0 rgba(0, 0, 0, 0.007);
    cursor: pointer;
}
.btn_blue {
    transition: var(--btn-animate-transition);
    color: var(--white-color);
    background-color: #29a1c95d;
}
.btn_green {
    transition: var(--btn-animate-transition);
    color: var(--white-color);
    background: linear-gradient(#26cb8194, #3cdf9683); 
}
.btn_purple{
    transition: var(--btn-animate-transition);
    color: var(--white-color);
    background: linear-gradient(#5726cb94, #b8288c83); 
}
.btn_green:hover {
    color: #fff;
    background: linear-gradient(#26CB81, #3CDF96); 
}
.btn:hover {
    position: relative;
    bottom: 3px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.btn_large {
    padding: 10px 15px;
    font-size: var(--middle-font-size) - 5px;
}
.btn__icon {
    position: relative;
    right: 2px;
    top: 4px;
    width: 25px;
}
.link {
    text-decoration: none;
    line-height: 30px;
    padding: 2px;
    color:midnightblue;
}
.link::before {
    content: "- ";
}

.header {
    position: absolute;
    left: 10%;
}
.header .container {
    padding-top: 5px;
    padding-bottom: 5px;
}
.preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(52, 51, 121);
    z-index: 2;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}
.preloader__text::after {
    content: "";
    animation: prelaoder 1.5s ease-in-out infinite;
}
.burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 30px;
    height: 30px;
}
.burger:hover {
    background-color: rgba(173, 216, 230, 0.171);
    backdrop-filter: blur(2px);
    border: 1px rgba(173, 216, 230, 0.4) solid;
}
.burger-line {
    margin: 2px 0;
    height: 1px;
    width: 20px;
    background-color: lightblue;
}
.menu {
    display: none;
    height: 100%;
    width: 100%;
    top: 43px;
    position: absolute;
    min-width: 100%;
    background: rgba(0, 0, 0, 0.55);
    z-index: 999;
}
.menu__body {
    padding: 10px;
    position: absolute;
    left: 10%;
    width: 80%;
    background-color: rgb(221, 221, 221);
}
.menu-part__title {
    font-weight: 300;
    font-size: var(--middle-font-size) - 5px;
}
.menu__item {
    color: rgb(81, 95, 109);
    font-weight: 200;
    font-size: var(--small-font-size);
}
.start-container {
    height: 100vh;
    display: flex;
    padding-top: 20px;
    justify-content: center;
    background: url("/Img/main-bg-1.jpg") center center no-repeat;
    background-size:cover
}

.b-title {
    top: 80px;
}
.b-buttons {
    position: relative;
    bottom: -20rem;
    display: flex;
    flex-direction: column;
}
.b-buttons .btn {
    flex: 0 0 50%;
}


.about-site-container {
    height: 100vh;
    background: url("/Img/main-bg-2.jpg") center center no-repeat;
    background-size: cover;
}
.service-card {
    margin: 10px 0;
}
.service-card__description {
    padding: 5px 0;
}
.service-card__description_row {
    display: flex;
    align-items: center;
}
.service__icon {
    width: 40px;
    margin-right: 5px;
}
.service-card__link a {
    display: flex;
    justify-content: center;
    line-height: 20px;
    font-size: var(--default-font-size);
}


.footer {
    /* height: 200px; */
    background-color: gray 2%;
}

@keyframes prelaoder {
    30% { 
        content: ".";
    }
    60% { 
        content: "..";
    }
    90% { 
        content: "...";
    }
}