<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="Styles/reset-base-styles.css">
    <link rel="stylesheet" href="Styles/style.css">
    <title>FISharer</title>
</head>
<body>
    <div id="wrapper">
        @RenderBody();
    </div>

    <script src="/JQuery/jquery-3.6.0.min.js"></script>
    <script src="/JS/script.js"></script>
</body>
</html>
