<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/Styles/reset-base-styles.css">
    <link rel="stylesheet" href="/Styles/style.css">
    <title>FISharer</title>
</head>
<body>
    <div id="wrapper">
        <div class="preloader">
            <div class="preloader__content">
                <h1 class="preloader__text title title_light"> Loading </h1>
            </div>
        </div>

        <header class="header">
            <div class="container">
                <div class="header__row">
                    <div class="burger">
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                        <div class="burger-line"></div>
                    </div>
                    <div class="home__link">
                        <a href="/">
                            <img class="home__img" src="~/Img/home.png" alt="Home link" />
                        </a>
                    </div>
                </div>
            </div>
        </header>

        <div class="menu">
            <div class="menu__body">
                <div class="b-menu menu-part">
                    <h1 class="menu-part__title title title_dark">Services</h1>
                    <hr>
                    <ul>
                        <li><a asp-controller="FilesShare" asp-action="Index" class="link menu__item">Share Files</a></li>
                        <li><a asp-controller="FilesShare" asp-action="Download" class="link menu__item">Download File</a></li>
                        <li><a href="#" class="link menu__item">Files Storage</a></li>
                    </ul>
                </div>
                <div class="b-menu menu-part">
                    <h1 class="menu-part__title title title_dark">Account</h1>
                    <hr>
                    <ul>
                        <li><a href="#" class="link menu__item">Sign In</a></li>
                        <li><a href="#" class="link menu__item">Register</a></li>
                        <li><a href="#" class="link menu__item">Info</a></li>
                    </ul>
                </div>
                <div class="b-menu menu-part">
                    <h1 class="menu-part__title title title_dark">Other</h1>
                    <hr>
                    <ul>
                        <li><a href="#" class="link menu__item">About Site</a></li>
                        <li><a href="//github.com/Sparrow1488/FISharer" class="link menu__item">Open Source</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main">
            @RenderBody();
        </div>
    </div>

    <script src="/JQuery/jquery-3.6.0.min.js"></script>
    <script src="/JS/dynamic.js"></script>
    <script src="/JS/script.js"></script>
</body>
</html>
